############################## General #################################

meta:
  version: 2
  flow: Classic
  substituting_steps:
    # Save time
    #Magic.DRC: null                 
    #KLayout.DRC: null
    #OpenROAD.IRDropReport: null
    #Magic.SpiceExtraction: null    
    #Checker.MagicDRC: null
    #KLayout.XOR: null
    #Netgen.LVS: null
    #Checker.LVS: null
    
    Checker.SetupViolations: null
    Checker.YosysSynthChecks: null  # Fails due to multisources in oscillator

DESIGN_NAME: ring_osc2x13
VERILOG_FILES:
- dir::../verilog/ring_osc2x13.v

# Slightly smaller file sizes
PRIMARY_GDSII_STREAMOUT_TOOL: klayout

# SDC files
PNR_SDC_FILE: dir::osc.sdc
SIGNOFF_SDC_FILE: dir::osc.sdc
FALLBACK_SDC: dir::osc.sdc

# Power / ground nets
VDD_NETS:
- VDD
GND_NETS:
- VSS

############################ Floorplanning ############################# 

FP_CORE_UTIL: 80

################################ PDN ################################### 

FP_PDN_MULTILAYER: False
PDN_CORE_RING_VOFFSET: 5
PDN_VPITCH: 30

BOTTOM_MARGIN_MULT: 1
TOP_MARGIN_MULT: 1
LEFT_MARGIN_MULT: 4
RIGHT_MARGIN_MULT: 4
FP_PIN_ORDER_CFG: dir::pin.cfg

############################### Placement ############################## 

RUN_POST_CTS_RESIZER_TIMING: False
DESIGN_REPAIR_BUFFER_INPUT_PORTS: False
DESIGN_REPAIR_BUFFER_OUTPUT_PORTS: False
PL_KEEP_RESIZE_BELOW_OVERFLOW: 0

############################### Routing ################################

# following is required to fix antennas
DIODE_ON_PORTS: in

############################### DRC/LVS ################################

ERROR_ON_MAGIC_DRC: False

# Prevent false positive DRC errors in I/O cells
MAGIC_GDS_FLATGLOB:
# For contacts
- "*_CDNS_*"
# COMP and Poly2 filler cells need to be 
# flattened to form a "filltrans" layer
- "COMP_fill_cell"
- "Poly2_fill_cell"
# Foundry provided SRAMs
- "*$$*"
- "M1_N*"
- "M1_P*"
- "M2_M1*"
- "M3_M2*"
- "nmos_5p0*"
- "nmos_1p2*"
- "pmos_5p0*"
- "pmos_1p2*"
- "via1_*"
- "ypass_gate*"
- "G_ring_*"
# These additional cells must be flattened to get rid of 3.3V devices
# (DUALGATE drawn into high-level cells)
- "dcap_103*"
- "din_*"
- "mux821_*"
- "rdummy_*"
- "pmoscap_*"
- "xdec_*"
- "ypredec*"
- "xpredec*"
- "xdec8_*"
- "prexdec_*"
- "xdec32_*"
- "sa_*"

# Because we have multiple power pads for one power domain
MAGIC_EXT_UNIQUE: notopports
