############################## General #################################

meta:
  version: 2
  flow: Classic
  substituting_steps:
    
    # Save time
    #Magic.DRC: null                 # ! fails because of SRAM !
    #KLayout.DRC: null
    #OpenROAD.IRDropReport: null
    #Magic.SpiceExtraction: null    
    #Checker.MagicDRC: null
    #KLayout.XOR: null
    #Netgen.LVS: null
    #Checker.LVS: null
    #Checker.SetupViolations: null
    #Verilator.Lint: null
    
    Checker.YosysSynthChecks: null  # Fails due to multisources in PLL

DESIGN_NAME: caravel_core
VERILOG_FILES:
- dir::../verilog/defines.v
- dir::../verilog/caravel_clocking.v
- dir::../verilog/caravel_core.v
- dir::../verilog/clock_div.v
- dir::../verilog/digital_pll.v
- dir::../verilog/digital_pll_controller.v
- dir::../verilog/gpio_defaults_block.v
- dir::../verilog/gpio_control_block.v
- dir::../verilog/GF180_RAM_512x32.v
- dir::../verilog/mgmt_core.v
- dir::../verilog/mgmt_core_wrapper.v
- dir::../verilog/mgmt_protect.v
- dir::../verilog/mprj_io_buffer.v
- dir::../verilog/sram.v
- dir::../verilog/VexRiscv_MinDebugCache.v
- dir::../verilog/housekeeping.v
- dir::../verilog/housekeeping_spi.v

MACROS:
  gf180_ram_512x8_wrapper:
    gds:
      - dir::../../ip/sram/gf180_ram_512x8_wrapper.gds.gz
    lef:
      - dir::../../ip/sram/gf180_ram_512x8_wrapper.lef
    nl:
      - dir::../../ip/sram/gf180_ram_512x8_wrapper.v
    lib:
      "*tt*" : [ dir::../../ip/sram/gf180mcu_fd_ip_sram__sram512x8m8wm1__tt_025C_5v00.lib ]
      "*ss*" : [ dir::../../ip/sram/gf180mcu_fd_ip_sram__sram512x8m8wm1__ss_125C_4v50.lib ]
      "*ff*" : [ dir::../../ip/sram/gf180mcu_fd_ip_sram__sram512x8m8wm1__ff_n40C_5v50.lib ]
      
    instances:  
      soc.core.sram.ram512x32.RAM00:
        location: [119, 85]
        orientation: S
      soc.core.sram.ram512x32.RAM01:
        location: [555.86, 85]
        orientation: S
      soc.core.sram.ram512x32.RAM02:
        location: [992.72, 85]
        orientation: S
      soc.core.sram.ram512x32.RAM03:
        location: [1429.58, 85]
        orientation: S

  ring_osc2x13:
    gds:
      - dir::../ring_osc2x13/final/gds/ring_osc2x13.gds.gz
    lef:
      - dir::../ring_osc2x13/final/lef/ring_osc2x13.lef
    nl:
      - dir::../ring_osc2x13/final/nl/ring_osc2x13.nl.v
    lib:
      "*tt*" : [ dir::../ring_osc2x13/final/lib/nom_tt_025C_5v00/ring_osc2x13__nom_tt_025C_5v00.lib ]
      "*ss*" : [ dir::../ring_osc2x13/final/lib/nom_ss_125C_4v50/ring_osc2x13__nom_ss_125C_4v50.lib ]
      "*ff*" : [ dir::../ring_osc2x13/final/lib/nom_ff_n40C_5v50/ring_osc2x13__nom_ff_n40C_5v50.lib ]
    spef:
      "*tt*" : [ dir::../ring_osc2x13/final/spef/nom/ring_osc2x13.nom.spef]
      "*ss*" : [ dir::../ring_osc2x13/final/spef/max/ring_osc2x13.max.spef]
      "*ff*" : [ dir::../ring_osc2x13/final/spef/min/ring_osc2x13.min.spef]
    instances:  
      pll.ringosc:
        location: [2500, 95]
        orientation: N

  simple_por:
    gds:
      - dir::../../ip/simple_por/gds/simple_por.gds.gz
    lef:
      - dir::../../ip/simple_por/lef/simple_por.lef
    nl:
      - dir::../../ip/simple_por/verilog/simple_por.v
    instances:  
      por_inst:
        location: [2617, 95]
        orientation: MX

# Slightly smaller file sizes
PRIMARY_GDSII_STREAMOUT_TOOL: klayout

# SDC files
PNR_SDC_FILE: dir::constraint.sdc
SIGNOFF_SDC_FILE: dir::constraint.sdc
FALLBACK_SDC: dir::constraint.sdc

# Power / ground nets
VDD_NETS:
- VDD
GND_NETS:
- VSS

# Clock
CLOCK_PORT: "clock_core"
CLOCK_PERIOD: 30

############################ Floorplanning ############################# 

FP_SIZING: absolute
DIE_AREA: [0, 0, 2900, 1000]
CORE_AREA: [24, 26, 2875, 974]

FP_PIN_ORDER_CFG: dir::pin.cfg
FP_IO_MIN_DISTANCE: 10
FP_IO_VTHICKNESS_MULT: 4
FP_IO_HTHICKNESS_MULT: 4

FP_MACRO_VERTICAL_HALO: 5

################################ PDN ################################### 

PDN_CORE_RING: True
PDN_SKIPTRIM: True
PDN_VERTICAL_HALO: 8
PDN_HORIZONTAL_HALO: -2
PDN_CORE_RING_VWIDTH: 9
PDN_CORE_RING_HWIDTH: 9
PDN_CORE_RING_VSPACING: 2
PDN_CORE_RING_HSPACING: 2
PDN_CORE_RING_VOFFSET: 4
PDN_CORE_RING_HOFFSET: 7
PDN_VPITCH: 80
PDN_HPITCH: 60
PDN_VSPACING: 19
PDN_HSPACING: 27
PDN_VWIDTH: 2.5
PDN_HWIDTH: 2.5
PDN_HOFFSET: 30.65
PDN_VOFFSET: 3.5

PDN_CFG: dir::pdn_cfg.tcl

############################### Placement ############################## 

PL_TARGET_DENSITY_PCT: 50
PL_KEEP_RESIZE_BELOW_OVERFLOW: 0
PL_RESIZER_ALLOW_SETUP_VIOS: True
PL_RESIZER_HOLD_SLACK_MARGIN: 0.5
PL_RESIZER_SETUP_SLACK_MARGIN: 0.2

RSZ_DONT_TOUCH_RX: .*clk_buf

DESIGN_REPAIR_MAX_WIRE_LENGTH: 700
DESIGN_REPAIR_MAX_SLEW_PCT: 25

############################### Routing ################################

# following is required to fix antennas
RUN_HEURISTIC_DIODE_INSERTION: True  
HEURISTIC_ANTENNA_THRESHOLD: 250
DIODE_ON_PORTS: in
GRT_ANTENNA_ITERS: 10

############################### DRC/LVS ################################

ERROR_ON_MAGIC_DRC: False

# Prevent false positive DRC errors in I/O cells
MAGIC_GDS_FLATGLOB:
# For contacts
- "*_CDNS_*"
# COMP and Poly2 filler cells need to be 
# flattened to form a "filltrans" layer
- "COMP_fill_cell"
- "Poly2_fill_cell"
# Foundry provided SRAMs
- "*$$*"
- "M1_N*"
- "M1_P*"
- "M2_M1*"
- "M3_M2*"
- "nmos_5p0*"
- "nmos_1p2*"
- "pmos_5p0*"
- "pmos_1p2*"
- "via1_*"
- "ypass_gate*"
- "G_ring_*"
# These additional cells must be flattened to get rid of 3.3V devices
# (DUALGATE drawn into high-level cells)
- "dcap_103*"
- "din_*"
- "mux821_*"
- "rdummy_*"
- "pmoscap_*"
- "xdec_*"
- "ypredec*"
- "xpredec*"
- "xdec8_*"
- "prexdec_*"
- "xdec32_*"
- "sa_*"

# Because we have multiple power pads for one power domain
MAGIC_EXT_UNIQUE: notopports
